/*******/


/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
img {
    display: block;
    max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html {
        scroll-behavior: initial;
    }
}

/******************************/

body > header {
    width: 100%;
    background: linear-gradient(90deg, lightblue, lightsalmon);
}

h1 {
    text-align: center;
}

h2 {
    font-size: 2.5em;
}

.donors > .panel {
    background-color: lightblue;
}

.necessitious > .panel {
    background-color: lightsalmon;
}

.container-main {
    margin-top: 2em;
}

.container {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(4, 1fr );
}

.panel ul li p {
    display: inline-block;
    width: 8ch;
    font-size: 1.5em;
}

input[type="number"] {
    text-align: right;
}

.container li {
    list-style: none;
}

.container main ul li > * {
    margin: 0.1em 0.1em 0.1em 0.1em;
}

.panel {
    width: fit-content;
    border: solid rgba(30, 30, 33, .5);
    box-shadow: 10px 5px 5px gray;
    padding: 0.3em;
    margin-right: 20px;
    position: relative;
}

.panel-header {
    top: 0.5em;
    position: absolute;
    width: 100%;
    height: 3em;
    text-align: left;
    display: flex;
}

    .panel-header h3 {
        font-size: 2rem;
        width: 100%;
    }

    .panel-header div {
        font-size: 3rem;
        width: 100%;
        height: 3rem;
        
    }

   
    .panel-header div button {
        font-size: 3rem;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: -1rem;
        right: 1rem;
    }

div.panel ul {
    padding-top: 40px;
    display: grid;
    gap: 0.2em;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

    div.panel ul li {
        display: grid;
        gap: 0.2em;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }



input[type=number] {
    width: 3em;
    font-weight: bold;
    text-align: right;
}

input[readonly] {
    width: 3em;
    font-weight: bold;
    text-align: right;
}

.donors button {
    background-color: lightsalmon;
}

.necessitious button {
    background-color: lightblue;
}

.need-icon {
    font-size: 2em;
}

.icon {
    font-size: 2em;
    font-weight: bold;
}
